.App {
  text-align: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#header{
  flex-basis: 100%;
  background-color: black;
  color: white;
  padding: 1rem;
  text-align: center;

}
#wrapper{
  display: flex;
 
}
#nav{
  width: 20%;
  background-color: honeydew;
}
#nav a{
  color: red;
}

#nav_id > ul li{
  List-style-type: none;
  text-decoration: none;
  font-size: 32px;
  padding-top: 1em;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

#main{
width : 80%;
background-color: bisque;
padding: 8rem;
text-align: center;
justify-content: center;
align-items: center;
}

#footer{
  flex-basis: 100%;
  background-color: black;
  color: white;
  padding: 1rem

}
.nav_items{
  display: flex;
  justify-content: space-around;
  padding : 2rem;
  flex-wrap: wrap;
  
}